* {
  margin: 0;
}

.wrapper {
  background-image: url("../img/bg-sea.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  width: 100%;
}

.wrapper .header {
  padding: 20px;
}

.disqus {
  margin: 0 auto;
  width: 80%;
}
