body {
  background-color: #EECA44;
}

.wrapper {
  align-items: center;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
}

.header {
  color: #1531AE;
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.score-table {
  background-color: #003056;
  border: 2px solid #05528A;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  font-weight: bold;
  justify-content: space-around;
  width: 15vw;
  height: 50px;
  line-height: 50px;
}

.score-table .score-x {
  line-height: inherit;
  vertical-align: middle;
  color: #46D8C0;
}

.score-table .score-o {
  line-height: inherit;
  vertical-align: middle;
  color: #F3CF39;
}

.field-container {
  background-color: #003056;
  border: 2px solid #05528A;
  display: grid;
  grid-template-columns: repeat(3, 15vw);
  position: relative;
  width: 45vw;
}

.block {
  align-items: center;
  border: inherit;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 18vh;
  justify-content: center;
}

.block svg {
  display: block;
  height: 90%;
  width: 90%;
}

.block .X {
  display: none;
  fill: #46D8C0;
}

.block .O {
  display: none;
  fill: #F3CF39;
}

.modal-window {
  align-items: center;
  background-color: #4ECDC4;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0.9;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 0;
  z-index: 1;
}

.modal-content {
  align-items: center;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 100px;
  justify-content: space-around;
  width: 400px;
}

button {
  background-color: #483D3F;
  border: 2px solid #E4FDE1;
  border-radius: 5px;
  color: #FFDBB5;
  transition: 0.3s all;
}

button:hover {
  transform: scale(1.2);
  transition: 0.3s all;
}

button:focus{
  outline: none;
}

.modal-content .one-player-btn {
  opacity: 0.6;
}

.modal-content .one-player-btn:hover {
  transform: none;
}

.nav {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 50px;
  justify-content: space-around;
  margin-top: 30px;
  width: 45vw;
}

.results-module {
  background-color: #008091;
  border: 2px solid #A7DEFA;
  border-radius: 5px;
  color: #E4FF00;
  display: none;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  height: 60px;
  left: 120px;
  line-height: 60px;
  opacity: 0.9;
  position: absolute;
  text-align: center;
  top: 150px;
  vertical-align: middle;
  width: 300px;
}
