body {
  position: relative;
}

.wrapper {
  background-color: #003056;
  border: 2px solid #05528A;
  display: grid;
  grid-template-columns: repeat(3, 15vw);
  margin: 20vh auto;
  width: 45vw;
}

.block {
  align-items: center;
  border: inherit;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 18vh;
  justify-content: center;
}

.block svg {
  display: block;
  height: 90%;
  width: 90%;
}

.block .X {
  display: block;
  fill: #46D8C0;
}

.block .O {
  display: block;
  fill: #F3CF39;
}

.moduleWindow {
  background-color: #000;
  height: 100%;
  opacity: 0.2;
  position: fixed;
  width: 0;
  z-index: 1;
}
